<!-- views/vrste_zivotinja/edit.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Edit Vrste Zivotinja</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div class="header header-pages">
        <div class="sides">
            <span class="logo"><a href="/">ADMIN</a></span>
        </div>
        <div class="sides" id="zoo-navigation">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Ulaznice</a>
                    <ul class="dropdown">
                        <li><a href="/ulaznice">Evidencija ulaznica</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Održavanje</a>
                    <ul class="dropdown">
                        <li><a href="/odrzavanje">Evidencija održavanja</a></li>
                        <li><a href="/vrsta_odrzavanja">Vrste održavanja</a></li>
                        <li><a href="/hrana">Dostupni resursi</a></li>
                        <li><a href="/hranjenje">Evidentiraj potrošene resurse</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Zaposlenici</a>
                    <ul class="dropdown">
                        <li><a href="/zaposlenici">Popis zaposlenika</a></li>
                        <li><a href="/pozicija">Pozicije</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Životinje</a>
                    <ul class="dropdown">
                        <li><a href="/podrucja">Područja zoološkog</a></li>
                        <li><a href="/smjestaj">Smještaji</a></li>
                        <li><a href="/vrste_zivotinja">Vrste životinja</a></li>
                        <li><a href="/zivotinje">Životinje u našem zoološkom</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="zoo-spacing-edit">
        <div class="image-side-zoo">
            <h1>Edit</h1>
        </div>
        <div class="text-side-zoo">
            <h2>Vrste Zivotinja</h2>
            <form class="zoo-edit-view-form" action="/vrste_zivotinja/<%= vrsteZivotinja._id %>" method="POST">
                <label for="Naziv">Naziv:</label>
                <input type="text" id="Naziv" name="Naziv" value="<%= vrsteZivotinja.Naziv %>" required>
                <br>
                <label for="Opis">Opis:</label>
                <input type="text" id="Opis" name="Opis" value="<%= vrsteZivotinja.Opis %>" required>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>