<!DOCTYPE html>
<html>

<head>
    <title>Edit Pozicija</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>

<body>
    <div class="header header-pages">
        <div class="sides">
            <span class="logo"><a href="/">ADMIN</a></span>
        </div>
        <div class="sides" id="zoo-navigation">
            <!-- Navigation menu -->
        </div>
    </div>
    <div class="zoo-spacing-edit">
        <div class="image-side-zoo">
            <h1>Edit</h1>
        </div>
        <div class="text-side-zoo">
            <h2>Pozicija</h2>
            <form class="zoo-edit-view-form" action="/pozicija/<%= pozicija._id %>/edit" method="POST">
                <label for="Naziv">Naziv:</label>
                <input type="text" id="Naziv" name="Naziv" value="<%= pozicija.Naziv %>" required>
                <br>
                <label for="Opis">Opis:</label>
                <input type="text" id="Opis" name="Opis" value="<%= pozicija.Opis %>" required>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>
