<!DOCTYPE html>
<html>
<head>
    <title>Pozicije</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <div class="header header-pages">
        <div class="sides">
            <span class="logo"><a href="/">ADMIN</a></span>
        </div>
        <div class="sides" id="zoo-navigation">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Ulaznice</a>
                    <ul class="dropdown">
                        <li><a href="/ulaznice">Evidencija ulaznica</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Održavanje</a>
                    <ul class="dropdown">
                        <li><a href="/odrzavanje">Evidencija održavanja</a></li>
                        <li><a href="/vrsta_odrzavanja">Vrste održavanja</a></li>
                        <li><a href="/hrana">Dostupni resursi</a></li>
                        <li><a href="/hranjenje">Evidentiraj potrošene resurse</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Zaposlenici</a>
                    <ul class="dropdown">
                        <li><a href="/zaposlenici">Popis zaposlenika</a></li>
                        <li><a href="/pozicija">Pozicije</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Životinje</a>
                    <ul class="dropdown">
                        <li><a href="/podrucja">Područja zoološkog</a></li>
                        <li><a href="/smjestaj">Smještaji</a></li>
                        <li><a href="/vrste_zivotinja">Vrste životinja</a></li>
                        <li><a href="/zivotinje">Životinje u našem zoološkom</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="zoo-spacing">
        <h1>Pozicije List</h1>
        <a class="add-new-zoo" href="/pozicija/new"><img style="height: 2.5em; margin-left: 15px;" src="/assets/add_6431853.png"></a>
        <ul class="lista-zoo">
            <li class="top-level-list">
                <div class="lista-info-zoo">
                    <span>Naziv</span> 
                    <span>Opis</span>
                </div>
                <div class="inside"></div>
            </li>
            <% pozicije.forEach(function(pozicija) { %>
                <li>
                    <div class="lista-info-zoo">
                        <span><%= pozicija.Naziv %></span> 
                        <span><%= pozicija.Opis %></span>
                    </div>
                    <div class="inside">
                        <a class="zoo-info-edit" href="/pozicija/<%= pozicija._id %>/edit"><img style="height: 1em;" src="/assets/pen_10337031.png"></img></a>
                        <form action="/pozicija/<%= pozicija._id %>/delete" method="post" style="display:inline;">
                            <button class="zoo-info-delete" type="submit">Delete</button>
                        </form>
                    </div>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
