<!DOCTYPE html>
<html>
<head>
    <title>Zoo Management System</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="header header-home">
        <div class="sides">
            <span class="logo"><a href="/">ADMIN</a></span>
        </div>
        <div class="sides" id="zoo-navigation">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Ulaznice</a>
                    <ul class="dropdown">
                        <li><a href="/ulaznice">Evidencija ulaznica</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Održavanje</a>
                    <ul class="dropdown">
                        <li><a href="/odrzavanje">Evidencija održavanja</a></li>
                        <li><a href="/vrsta_odrzavanja">Vrste održavanja</a></li>
                        <li><a href="/hrana">Dostupni resursi</a></li>
                        <li><a href="/hranjenje">Evidentiraj potrošene resurse</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Zaposlenici</a>
                    <ul class="dropdown">
                        <li><a href="/zaposlenici">Popis zaposlenika</a></li>
                        <li><a href="/pozicija">Pozicije</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Životinje</a>
                    <ul class="dropdown">
                        <li><a href="/podrucja">Područja zoološkog</a></li>
                        <li><a href="/smjestaj">Smještaji</a></li>
                        <li><a href="/vrste_zivotinja">Vrste životinja</a></li>
                        <li><a href="/zivotinje">Životinje u našem zoološkom</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="info">
            <h4><a href="/">DOBRODOŠLI NA ADMIN PANEL</a></h4>
            <h1>ZOOLOŠKI VRT</h1>
            <div class="meta">
                <p>Evidencija životinja, radnika i održavanja.</p>
            </div>
        </div>
    </div>
    <div class="news">
        <h1>Admin novosti</h1>
        <div class="news-grid">
            <div class="news-card">
                <div class="news-img" style="background-image: url(https://sbcivils.co.uk/wp-content/uploads/2022/04/What-Is-Highway-Construction-1.jpg)"></div>
                <div class="news-details">
                    <h2>Radovi na cestama, nemojte kasniti</h2>
                    <p class="date">May 27, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula odio eu nibh sodales...</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="news-card">
                <div class="news-img" style="background-image: url(https://i.ytimg.com/vi/pv4eykiAwqs/maxresdefault.jpg)"></div>
                <div class="news-details">
                    <h2>Čiči ima novi outfit. Svi aplauz.</h2>
                    <p class="date">May 26, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula odio eu nibh sodales...</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="news-card">
                <div class="news-img" style="background-image: url(https://www.zoo-berlin.de/fileadmin/_processed_/e/f/csm_Strahlenschildkroete_-_Nachwuchs_c628df9f8e.jpg)"></div>
                <div class="news-details">
                    <h2>Vanesa probila zvučni zid, postigla Mach 4</h2>
                    <p class="date">May 26, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula odio eu nibh sodales...</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <div class="news-card">
                <div class="news-img" style="background-image: url(https://media.istockphoto.com/id/1323823418/photo/low-angle-view-thermometer-on-blue-sky-with-sun-shining.jpg?s=612x612&w=0&k=20&c=LwLCGF902C-DNwKgCMCR12zFnB4g1INWzlk1JPOidRk=)"></div>
                <div class="news-details">
                    <h2>Ponedjeljak svi ponesite SPF</h2>
                    <p class="date">May 26, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vehicula odio eu nibh sodales...</p>
                    <a href="#" class="read-more">Read More</a>
                </div>
            </div>
            <!-- Add more news cards as needed -->
        </div>
    </div>
</body>
</html>