<!-- views/zaposlenici/new.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Add Zaposlenici</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
    <div class="header header-pages">
        <div class="sides">
            <span class="logo"><a href="/">ADMIN</a></span>
        </div>
        <div class="sides" id="zoo-navigation">
            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Ulaznice</a>
                    <ul class="dropdown">
                        <li><a href="/ulaznice">Evidencija ulaznica</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Održavanje</a>
                    <ul class="dropdown">
                        <li><a href="/odrzavanje">Evidencija održavanja</a></li>
                        <li><a href="/vrsta_odrzavanja">Vrste održavanja</a></li>
                        <li><a href="/hrana">Dostupni resursi</a></li>
                        <li><a href="/hranjenje">Evidentiraj potrošene resurse</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Zaposlenici</a>
                    <ul class="dropdown">
                        <li><a href="/zaposlenici">Popis zaposlenika</a></li>
                        <li><a href="/pozicija">Pozicije</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Životinje</a>
                    <ul class="dropdown">
                        <li><a href="/podrucja">Područja zoološkog</a></li>
                        <li><a href="/smjestaj">Smještaji</a></li>
                        <li><a href="/vrste_zivotinja">Vrste životinja</a></li>
                        <li><a href="/zivotinje">Životinje u našem zoološkom</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="zoo-spacing-edit">
        <div class="image-side-zoo">
            <h1>NOVO</h1>
        </div>
        <div class="text-side-zoo">
            <h2>Zaposlenici</h2>
            <form class="zoo-edit-view-form" action="/zaposlenici" method="POST">
                <label for="Ime_i_prezime">Ime i Prezime:</label>
                <input type="text" id="Ime_i_prezime" name="Ime_i_prezime" required>
                <br>
                <label for="JMBG">JMBG:</label>
                <input type="text" id="JMBG" name="JMBG" required>
                <br>
                <label for="Datum_rodjenja">Datum Rodjenja:</label>
                <input type="date" id="Datum_rodjenja" name="Datum_rodjenja" required>
                <br>
                <label for="Datum_zaposlenja">Datum Zaposlenja:</label>
                <input type="date" id="Datum_zaposlenja" name="Datum_zaposlenja" required>
                <br>
                <label for="Pozicija">Pozicija:</label>
                <select id="Pozicija" name="Pozicija" required>
                    <% pozicije.forEach(pozicija => { %>
                        <option value="<%= pozicija._id %>"><%= pozicija.Naziv %></option>
                    <% }); %>
                </select>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
